In [1]:
import sys
sys.path.insert(0, '../')
from api.api import DataAPI

In [2]:
api = DataAPI(symbols=['AAPL', 'MSFT'])

In [3]:
yahoo_prices = api.get_yahoo_prices()
yahoo_prices

symbol            AAPL        MSFT
1986-03-13    0.085613    0.060396
1986-03-14    0.090369    0.062553
1986-03-17    0.089937    0.063632
1986-03-18    0.092964    0.062014
1986-03-19    0.091667    0.060936
...                ...         ...
2023-09-11  179.360001  337.940002
2023-09-12  176.300003  331.769989
2023-09-13  174.210007  336.059998
2023-09-14  175.740005  338.700012
2023-09-15  175.009995  330.220001

[9454 rows x 2 columns]